<%= link_to "Test", get_data_path, method: :post %>

<script type="text/javascript" src="https://bayeeinc.formstack.com/forms/js.php?1968358-LIriDF7IMB-v3"></script><noscript><a href="https://bayeeinc.formstack.com/forms/get_instant_help" title="Online Form">Online Form - Get instant help!</a></noscript>